# Node modules
/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build files (if applicable)
build/
dist/

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/